body {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h3,
h4,
p,
blockquote,
dd {
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  box-sizing: border-box;
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
