@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

/* Reset */
body {
  background: linear-gradient(130.02deg, #628e75 0.66%, #1a4855 83.32%)
    no-repeat center center fixed;
  margin: 0px;
  background-size: cover;

  font-family: "Poppins", sans-serif;
  color: #f9f9f9;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h3,
h4,
p,
blockquote,
dd {
  margin: 0px;
}

.container {
  box-sizing: border-box;
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes mainAnime {
  from {
    opacity: 0;
    transform: translate3d(0, -120px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fantasminha {
  from {
    opacity: 0;
    transform: scaleX(-1) translate3d(500px, -120px, 0);
  }
  to {
    opacity: 1;
    transform: scaleX(-1) translate3d(0, 0, 0);
  }
}
