@import url(./reset.css);
@import url(./modal.css);

/* titulos */
main h2 {
  font-family: "B612", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 45px 0 40px 0;
}
main h1 {
  font-family: "B612", sans-serif;
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  padding: 0 0 100px 0;
}

/* filme e desc */
.text {
  display: flex;
  flex-direction: column;
}

.filme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}
.text p {
  font-family: "B612", sans-serif;
  font-weight: 400;
  font-size: 20px;
  max-width: 55ch;
}
.infos {
  display: flex;
  margin: 45px 0 45px 0;
  align-items: center;
  gap: 100px;
}
.infos li {
  font-family: "B612", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.infos-rating {
  display: flex;
  gap: 15px;
}

/* btns */
button {
  font-family: "B612", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #0072d2;
  padding: 15px 25px;
  border: 1px solid #0072d2;
  border-radius: 3px;
  cursor: pointer;
}

.b2 {
  background-color: #131318;
  border: 1px solid #fff;
  margin-left: 20px;
}

@media (max-width: 800px) {
  .text p {
    font-size: 16px;
  }
  .infos {
    gap: 40px;
  }
  .infos li {
    font-size: 16px;
  }
  .infos-rating img {
    max-width: 16px;
  }
}

@media (max-width: 600px) {
  .main h1 {
    font-size: 64px;
  }
  .main h2 {
    font-size: 18px;
  }
  .img {
    display: none;
  }
  .text {
    position: relative;
    justify-content: flex-end;
  }
  .text p {
    margin: 25px 0 30px 0;
    max-width: 30ch;
  }
  .infos {
    position: absolute;
    top: -120px;
  }
  .or3 {
    order: 1;
  }
  .btns {
    justify-content: center;
    margin-top: 30px;
    order: -1;
    padding-bottom: 25px;
    border-bottom: 2px solid #c4c4c4;
  }
  .filme {
    border-radius: 20px 20px 0 0;
    background-color: #19191f;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
}
